*.a
*.o
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
.deps
/stamp-h1
/yourcode/udp-sender
/yourcode/udp-receiver
/compile
/test-driver
/tests/*.log
/tests/*.trs
/protobufs/simple.pb.h
/protobufs/simple.pb.cc
