*.a
*.o
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
.deps
/stamp-h1
/yourcode/greeter_client
/yourcode/greeter_server
/compile
/test-driver
/tests/*.log
/tests/*.trs
/protobufs/simple.pb.h
/protobufs/simple.pb.cc
/protobufs/simple.grpc.pb.h
/protobufs/simple.grpc.pb.cc
